* {
    margin: 0;
    padding: 0;
}
body {
    /* overflow: hidden; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    min-height: 100vh; 
    /* full screen karne ke liye */
    width: 100%;
    /* full width karne ke liye */
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),  url(../../photos/eduford_img/banner.png);
/* background image daalne ke liye or uske peeche usse black gradient color dene ke liye */
    background-position: center;
/* background image ko centre pe shift karne ke liye */
    background-size: cover;
    /* background image ko ache se pure screen pe cover karne ke liye */
    position: relative;
    /* relative position just changes the position according to the parent element
     /* relative position allows us to change the position of the static element.*/
    /* background image ki position ko set karne ke liye ye bhi */
}

/* NAVIGATION BAR */
/* MAIN NAVIGATION TAG */
nav {
    padding: 2% 6%;
    /* to give the space around the nav bar */
    display: flex;
    /* free kiya hai nav bar ko taaki usse align kar ske apne hisaab se */
    justify-content: space-between;
    align-items: center;
}
/* IMAGE */
nav img {
    width: 150px;
    /* image ki hight dene ke liye */
}
/* NAVIGATION LINKS */
.nav-links {
    flex: 1;
    text-align: right;
    /* nav links ko right mai shift kiya hai */
}
/* UNORDERED LIST (ALL THE NAVIGATION LINKS) */
.nav-links ul li {
    /* list-style: none; */
    display: inline-block;
    /* nav links ko horizontally align karne ke liye */
    padding: 8px 12px;
    /* anchor tags ke links ke beech mai space dene ke liye */
    position: relative;
    /* nav tag se position ko relate kar diya hai. */
}
/* ANCHOR TAG */
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
/* ANCHOR TAG */
.nav-links ul li a::after {  
    /* these contents provide the colorful underline below the hav headings */
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}

/* HEADING AND PARAGRAPH */
.text-box {
    color: #ffff;
    text-align: center;
    width: 90%;
    position: absolute;
    /* position is not related to parent element */
    top: 50%;
    /* top se 50% par */
    left: 50%;
    /* left se 50% par */
    transform: translate(-50%, -50%);
    /*  */
}
.text-box h1{
font-size: 60px;
}
.text-box p {
    margin: 10px 0 40px;
    padding: 20px;
    font-size: 14px;
    color: #fff;
}
.hero-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 34px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.hero-button:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: .5s;
}
/* cross and menu icon */
nav .fa {
    display: none;
    /* it will not display the cross and menu icon in full screen view */
}
/* BUILDING RESPONSIVENESS */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
        /* 700px se kam screen hone pe heading 20px ki ho jayegi */
    }
    .nav-links ul li {
        display: block;
        /* saare navigation links inline-block se block ho jayenge */
    }
    .nav-links {
        position: absolute;
        /* position ko fix kar diya */
        background: #f44336;
        height: 100vh;
        /* pure screen ki height di hai */
        width: 200px;
        /* thoda chauda kar diya hai navigation bar ko */
        top: 0px;
        /* top se jagah nhi bachai */
        right: -200px;
        /* -200px kiya hai taaki chote screen pe wo hide ho jaaye */
        text-align: left;
        /* saare links ko left align kar diya hai */
        z-index: 2;
        /* opacity badha di hai */
        transition: 0.9s;
    }
    nav .fa   {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
nav-links ul {
    padding: 30px;
}
}

/* COURSES */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    /* contents ko columns mai kar deta hai */
}
.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
        .row {
            flex-direction: column;
        }
    
}

/* <!-- CAMPUS --> */
.campus {
    padding-top: 50px;
    text-align: center;
    margin: auto;
    width: 80%;
}
.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img {
    width: 100%;
    display: block;

}
.layer {
    /* background: rgba(226, 0, 0, 0.7); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(233, 25, 25, 0.7);
    cursor: pointer;
    
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3 {
    bottom: 60%;
    opacity: 1;
}

/* FACILITIES  */
.facility{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col {
    flex-basis: 31%;
    /* padding: 40px; */
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;

}
.facilities-col img {
    width: 100%;
    border-radius: 10px;
}
.facilities-col p {
    padding: 0;

}   
.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
} 

/* TESTIMONIALS */

.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials-cols {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fae6e6;
    padding: 25px;
    cursor: pointer;
    /* display: flex; */
}
.testimonials-cols img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    /* display: flex; */
}
.testimonials-cols p {
    padding: 0;
    /* display: flex; */
}
.testimonials-cols h3 {
    margin-top: 20px;
    text-align: left;
}
.testimonials-cols .fa {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonials-cols img {
        margin-left: 0px;
        margin-right: 15px;
    }
    
}

/* CALL TO ACTION */
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../photos/eduford_img/banner2.jpg);
    background-position: center;
    border-radius: 10px;
    background-size: cover;
    text-align: center;
    padding-top: 100px 0;
    padding-bottom: 20px;
}
.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }
    
}

/* FOOTER */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px ;
}
.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o {
    color: #f44336;
}